/* Provide sufficient contrast against white background */
body{
  background-color: rgba(70, 77, 77, 0.712);
}
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
