[submodule "Lore-Common"]
	path = Lore-Common
	url = https://github.com/Lore-BPS/Lore-Common
[submodule "Lore-Fronton-Test"]
	path = Lore-Fronton-Test
	url = https://github.com/Lore-BPS/Lore-Fronton-Test
[submodule "Lore-Data-Access-Library"]
	path = Lore-Data-Access-Library
	url = https://github.com/Lore-BPS/Lore-Data-Access-Library
[submodule "Lore-Fronton-React-Recoil\\ClientApp\\src\\react-core"]
	path = Lore-Fronton-React-Recoil\\ClientApp\\src\\react-core
	url = https://github.com/projectstorm/react-core.git
